<% content_for :title, "Editing movie" %>

<h1 class="ind">Editing movie</h1>


<div class ="edit">
  <%= render "form", movie: @movie %>
</div>
<br>

<div class ="movie">
  <%= link_to "Show this movie", @movie %> |
  <%= link_to "Back to movies", movies_path %>
</div>
